{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head> 

<body>  
    <div id="header-container">
        <h1>"Hello, world !"</h1>
    </div>


    <div id="Door">
        <div class="door_1">
            <a href="{% url 'room1' %}"><img src="{% static 'img/door1.png' %}"></a>
        </div>
        
        <div class="door_2">
            <a href="{% url 'room2' %}"><img src="{% static 'img/door2.png' %}"></a>
        </div>

        <div class="door_3">
            <a href="{% url 'room3' %}"><img src="{% static 'img/door3.png' %}"></a>
        </div>

    </div>
</body>
</html>