{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/intro.css' %}" />
    <title>Coding Game</title>
</head>
<body>
    <video autoplay muted poster="{% static 'img/back_img.png' %}" id = "bgvid">
        <source src="../intro.mp4" type="video/mp4">
    </video>
    <audio autoplay>
        <source src="../intro_audio.mp3" type="audio/mp3">
    </audio>
</body>
</html>