{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>첫 번째 </title>

    <link rel="stylesheet" href="{% static 'css/room.css' %}" />

</head>

<body>

    <header>
        <h1>헤더예요</h1>
    </header>

    <div class="background room3">
        <div class="contents">
            <div class="msgbox player">
                이름이야3
            </div>
            <div class="msgbox quote">
                "메롱"
            </div>
            <div class="msgbox character">
                라인1
            </div>
            <div class="msgbox character">
                라인2
            </div>
            <div class="msgbox character">
                라인3
            </div>
        </div>
    </div>

</body>

</html>