body {
    height: 100%;
    width:100%;
    background-image: url("../img/home_img.png");
}


#header-container{
    height:10%;
    width:100%;
}

#header-container h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 73px;
    color: #f2f2f2;
    text-shadow: 4px 9px 6px #A20000C9;
    text-align:center;
    opacity: 1;
    animation: typingAni 13s steps(13, end), cursor 1s steps(1) infinite;
}

#Door{
    width:100%;
    height:90%;
}

.door_1 {
    width:30%;
    padding-left: 7%;
    float:left;
}

.door_1 img{
    width:80%;
}

.door_2 {
    width:30%;
    margin:center;
    float:left;
}

.door_2 img{
    width:80%;
}

.door_3 {
    width:30%;
    float:left;
}

.door_3 img{
    width:80%;
}