body, h1 {margin:0px;}

body{   
    display:flex;
    flex-direction: column;
}

html, body {
    height:100%;
    width:100%;
}

div {box-sizing: border-box;}



.background {
    position:absolute;
    flex:1;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
    z-index: 1;
    background-size:100%;
    font-family: 'Reggae One', cursive;
}

.room1 {background-image: url("../img/1번방.png");
}

.room2 {background-image: url("../img/2번방.png");
}

.room3 {background-image: url("../img/3번방.png");
}


.contents {
    position: relative;
    top:21.9375%;
    left:7.02%;
}

.msgbox {
    color: white;
    width: 42.9722%;
}

.player {
    font-size: 6.51vh;
}

.quote {
    margin-top: 1.5625%;
    margin-bottom: 4.029%;
    font-size: 4.34vh;
}

.character {
    background-color: #FF00004D;
    margin-bottom: 1%;
    height: 3em;
    font-size: 3.8vh;
    line-height: 3em;
    padding-left: 1em;
}
