<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/jeongho/jeongho_home.css' %}">
    <title>CODING GAME</title>
</head>
<body>
    <nav>
        <ul class="nav-container">
            <li class="nav-name"> CODING GAME </li>
            <li class="nav-item"> <a href="#"> 1 </a> 
                <ul> 
                    <li> <a href="#"> Profile </a> </li>
                    <li> <a href="#"> SNS </a> </li>
                </ul>
            </li>
            <li class="nav-item"> <a href="#"> 2 </a>
                <ul> 
                    <li> <a href="#"> Profile </a> </li>
                    <li> <a href="https://www.instagram.com/jeongxo/?hl=ko"> SNS </a> </li>
                </ul>    
            </li>                   
            <li class="nav-item"> <a href="#"> 3 </a>
                <ul> 
                    <li> <a href="#"> Profile </a> </li>
                    <li> <a href="#"> SNS </a> </li>
                </ul>
            </li>    

        </ul>    
    </nav>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    <div><h1>1</h1></div>
    
</body>
</html>