{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두 번째 방</title>

    <link rel="stylesheet" href="{% static 'css/room.css' %}" >
    <link rel="stylesheet" href="{% static 'css/jeongho/jeongho_home.css' %}" >

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <ul class="nav-container">
                <li class="nav-name"> <a href="{% url 'home' %}">CODING GAME </a> </li>
                <li class="nav-item"> <a href="#"> 1 </a> 
                    <ul> 
                        <li> <a href="{% url 'room1' %}"> Profile </a> </li>
                        <li> <a href="https://www.instagram.com/tarakkyu/?hl=ko"> SNS </a> </li>
                    </ul>
                </li>
                <li class="nav-item"> <a href="#"> 2 </a>
                    <ul> 
                        <li> <a href="{% url 'room2' %}"> Profile </a> </li>
                        <li> <a href="https://www.instagram.com/jeongxo/?hl=ko"> SNS </a> </li>
                    </ul>    
                </li>                   
                <li class="nav-item"> <a href="#"> 3 </a>
                    <ul> 
                        <li> <a href="{% url 'room3' %}"> Profile </a> </li>
                        <li> <a href="https://www.instagram.com/tangza_0/?hl=ko"> SNS </a> </li>
                    </ul>
                </li>    
            </ul>    
        </nav>
    </header> 

    <div class="background room2">
        <div class="contents">
            <div class="msgbox player">
                2번 민정Ho!
            </div>
            <div class="msgbox quote">
                "먹으러 왔어? 코딩하러 온 거 아냐?!"
            </div>
            <div class="msgbox character">
                MBTI : ENTP
            </div>
            <div class="msgbox character">
                포지션 : 호자카야 주방장
            </div>
            <div class="msgbox character">
                특징 : '눈매'는 선한 편
            </div>
        </div>
    </div>

</body>

</html>