nav {
    font-family: 'Reggae One', cursive;
}


.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    list-style-type: none;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.6);
}

.nav-name {
    padding-left: 3%;
    font-size: 45px;
    line-height: 45px;
    padding: 41.5px;
    letter-spacing: 0px;
    color: #930001;
    opacity: 1;
}

.nav-name > a {
    text-decoration: none;
    color: #930001;
}


.nav-item {
    position: relative;
    left: 53%;
    padding: 10px 30px;
    width: 50px;
    font-size: 45px;
    line-height: 45px;
    cursor: pointer;
    margin-top: 30px;
}
.nav-item a:hover{
    background-color: rgba(100, 100, 100, 0.5);
}

.nav-item a {
    text-align: center;
    text-decoration: none;
    color: #930001;
    padding: 4px 21px;
    height: 40px;
    border: solid 4px #930001;
}


.nav-item > ul {
    display: none;
    border: 0;
}

.nav-item > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 3px;
    top: 80px;
    width: 130px;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-item ul a {
    border: none;
    text-align: center;
    display:block;
}

.nav-item:hover ul {
    display: block;
}

.nav-item ul li {
    width: 100%;
    padding: 0px 0px 0px 0px;
    font-size: 25px;   
}
